# LiveKit Server Configuration
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
GCS_BUCKET=
GCS_CREDENTIALS=

# LiveKit Client Configuration (public)
NEXT_PUBLIC_LIVEKIT_URL=

# iron-session password (must be at least 32 characters)
IRON_SESSION_PASSWORD=7b4a1c2721b1f9e89c16c1b288e790ecf9c1e584f16c05b82930bedb9a54f41f
